<div dir={{direction}}  >
<div class="Row"  >
  <button class="btnl" (click)="useLanguage('en')">english</button>

<button class="btnr" (click)="useLanguage('ar')">عربي</button>
<br>
</div>
  <br><br>
<div  >
  <h1>{{ 'demo.title' | translate }}</h1>

  <!-- translation: translation pipe -->
  <p>{{ 'demo.text' | translate }}</p>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>
</div>


<!-- translation with parameters: translation pipe -->
<p>{{ 'demo.greeting' | translate:{'name':  mName } }}</p>

<!-- translation: directive (key as attribute) -->
<p [translate]="'demo.greeting'" [translateParams]="{name: mName}"></p>

<!-- translation: directive (key as content of element)-->
<p translate [translateParams]="{name: mName}">demo.greeting</p>
</div>
